.menuContainer h3 {
  padding-top: 100px;
}

.menuButtons button {
    top: 50px;
    margin: auto;
    margin-top: 70px;

    padding: 10px;
    background-color: #1A338C;
    border: 1px solid white;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    width: 150px;
    display: block;
    box-shadow: 0px 4px 12px -1px black;

  }


  .menuButtons button:hover {
    background-color: #11215a ;
  }
