



.SettingsContainer h2 {
  margin-top: 200px;
  margin-bottom: 50px;

}

.SettingsContainer p{
  margin-left: 50px;
  margin-top: 0px;
  float: left;

}

.switch {
  float: left;
  margin-left: 50px;
  margin-bottom: 200px;
}
.AboutContainer {

  margin-top: 200px;


}

.menuButtons1 button {
    top: 50px;
    margin: auto;
    margin-bottom:50px;

    padding: 10px;
    background-color: #1A338C; /* Green background */
    border: 1px solid white; /* Green border */
    color: white; /* White text */
    border-radius: 50px;
    cursor: pointer; /* Pointer/hand icon */
    width: 25%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */

  }

  .menuButtons1 button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */

  }

  /* Add a background color on hover */
  .menuButtons1 button:hover {
    background-color: #11215a ;
  }
